/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Main navigation */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: #ffffff;
}

header img {
    width: 50px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav li {
    margin-right: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #555;
}

/* Hero Section */
#hero {
    height: 73vh;
    background-image: url('block buildings.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.content-box {
    /* Style the box with opacity and other properties */
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity (last value) to your preference */
    padding: 10px; /* Add some padding to the content inside the box */
  }

#hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
}

#hero p {
    font-size: 1.5rem;
    color: #ffffff;
}

/* Section Styles */
section {
    padding: 2rem;
    /* padding-left: 20rem;
    padding-right: 20rem; */
    text-align: center;

}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #000000;
}

section p {
    font-size: 1rem;
    color: #000000;
    max-width: 850px;
    margin: 0 auto;
}

/* Join Discord CTA */
#join-discord {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem 0;
}

#join-discord h2 {
    color: #000000;
}

#join-discord a {
    display: inline-block;
    background-color: #7289da;
    color: #000000;
    padding: 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 3px;
}

#join-discord a:hover {
    background-color: #f4f4f4;
}

/* Footer */
footer {
    background-color: #8a8a8a;
    text-align: center;
    /* padding: 1rem; */
}

footer a {
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: #555;
}

/* Responsive Styles for Small Screens (Mobile) */
@media screen and (max-width: 768px) {
    header {
        flex-wrap: wrap;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav li {
        margin-bottom: 1rem;
    }

    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1.2rem;
    }

    section {
        padding: 1.5rem;
    }

    section h2 {
        font-size: 1.5rem;
    }

    #join-discord {
        padding: 1.5rem 0;
    }

    #join-discord a {
        font-size: 1rem;
    }
}